<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - SNDP AGIL</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
    <h1>Bienvenue sur <strong>SNDP AGIL</strong></h1>
    <div class="button-group">
        <a class="btn" th:href="@{/regis    ter}">Créer un compte</a>
        <a class="btn" th:href="@{/login}">Se connecter</a>
    </div>
</div>
</body>
</html>
